<div class="container">
	<%= image_tag "NRW_new.jpg", class: 'header'  %>
	<br/>
    <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="panel article">
        <% for article in @articles&.reverse %>
          <section class="row panel-body">
            <section class="col-md-12">
              <%= article.text.html_safe %>
            </section>
          </section>

          <div class="panel-footer post">
            <% if current_user&.has_role?("admin") || current_user == article.user%>
              <section align="right">
                <%= link_to "Edit", edit_article_path(article), class: "btn btn-info btn-xs" %> 
                <%= link_to "Delete", article, data: {confirm: 'Are you sure?'}, :method => :delete, class: "btn btn-info btn-xs"%>
              </section>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%= will_paginate @articles, class: 'nrw_pagination' %>

</div>

