<div class="container">
  <head><h1>Edit Topic Details</h1></head>
	<div id="reply" class="panel-body topic">
  <section class="well reply">
		<%= form_for @topic do |f| %>
		  <% if params[:section] %>
		  	<input type="hidden" id="topic_section_id" name="topic[section_id]" value="<%= params[:section] %>" />
		  <% end %>
		  <% if current_user %>
		  	<input type="hidden" id="topic_user_id" name="topic[user_id]" value="<%= current_user.id %>" />
		  <% end %>
	    <%= f.text_field :title, placeholder: "Section Title", class: "topic-name"%>
	    <%= f.submit "Create", class: "btn btn-info pull-right" %>
		<% end %>
  </section>
</div>
</div>