<p><%= backchain(@section.parent_section_id) %></p>
<p><%= @section.title %></p>
 
<table class="table table-bordered">
  <tr>
    <th width="60%">Topic Title</th>
    <th width="10%">Replies</th>
    <th width="30%">Last Post</th>
  </tr>
  <% for topic in @section.topics %>
    <tr>
      <td><%= link_to h(topic.title), topic_path(topic.id) %>
      <td><%= topic.posts.count %></td>
      <td><%= "@#{topic.posts.last.created_at} By #{topic.posts.last.user_id}" if topic.posts.last %></td>
      <td class="right"></td>
      <td><%= link_to "Show", topic %></td>
      <td><%= link_to "Edit", edit_topic_path(topic) %></td>
      <td><%= link_to "Destroy", topic, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
 
<p><%= link_to "New Topic", "/topics/new?section=#{@section.id}" %></p>